@import "../../assets/scss/variables";
@import "../../assets/scss/font_styles";

$root-class: "header-form";

#input-text-phone {
  color: white !important;
  font-size: 0.9rem !important;
  font-weight: 300 !important;
  padding-top: 1.5vh !important;

  @media print and (orientation: portrait) {
    font-size: 0.8rem !important;
  }
}

#input-text-first {
  color: white !important;
  font-size: 0.9rem !important;
  font-weight: 300 !important;
  padding-top: 1.5vh !important;

  @media print and (orientation: portrait) {
    font-size: 0.8rem !important;
  }
}

#input-text-last {
  color: white !important;
  font-size: 0.9rem !important;
  font-weight: 300 !important;
  padding-top: 1.5vh !important;

  @media print and (orientation: portrait) {
    font-size: 0.8rem !important;
  }
}

#input-text-time {
  color: white !important;
  font-size: 0.9rem !important;
  font-weight: 300 !important;
  padding-top: 1.5vh !important;

  @media print and (orientation: portrait) {
    font-size: 0.8rem !important;
  }
}

.#{datePicker} {
  background-color: #2a525a !important;
}

.#{$root-class} {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #2a525a;
  min-width: 87vw;
  border-radius: 30px;

  &__button {
    background-color: #2a525a;
    border: none;
    cursor: pointer;

    &:focus {
      border: none;
      outline: none;
    }

    &:active {
      border: none;
      outline: none;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65vw;

    @media print and (orientation: portrait) {
      width: 65vw;
      margin: auto;
    }
  }

  &__floatingLabel {
    color: white !important;
    font-weight: 500 !important;
    font-size: 1.1rem !important;

    @media print and (orientation: portrait) {
      font-size: 1rem !important;
    }
  }

  &__textfield {
    margin: 1vw !important;
    width: 30% !important;
    border-bottom-color: white !important;
  }
}
