@import "../../assets/scss/variables";
@import "../../assets/scss/font_styles";

$root-class: "upload";

.#{$root-class} {
  background-color: $secondary-blue;
  min-height: 87vh;
  padding-bottom: 15px;

  &__header {
    @include title;

    margin: 0;
    padding-left: 7.5%;
    padding-top: 8.75%;
  }

  &__error-message {
    display: flex;
    padding-top: 83px;
    padding-left: 122px;

    @media (min-width: $med-width) {
      padding-left: 182px;
    }

    &__text {
      @include text-body;

      margin: 0;
      padding: 10px 0 0 10px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 8%;
    padding-right: 1%;

    &__instruction {
      @include text-body;

      margin: 0;
    }

    &__code {
      font-style: normal;
      font-weight: normal;
      font-size: 80px;
      line-height: 15px;
      letter-spacing: 0.4px;
    }
  }

  .success-card {
    display: flex;
    padding-top: 0 !important;
    margin-bottom: 10px;
    align-items: flex-start;
    height: fit-content;

    &__box {
      padding-right: 10px;

      &__message {
        padding-left: 20px;
        padding-bottom: 20px;
      }
    }
  }
}
