@import './font_styles';
@import './variables';

@mixin common-button {
  @include button-text;

  cursor: pointer;
  width: 234px;
  height: 50px;
  text-decoration: none;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  box-shadow: 0 2px 2px $black, 0 0 2px $black;
  border-radius: 4px;
  border: transparent;
}

@mixin primary-button {
  @include common-button;

  background-color: $primary-blue;
  color: $white;
}

@mixin secondary-button {
  @include common-button;

  background-color: $tertiary-blue;
  color: $primary-blue;
}
