@mixin title {
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

@mixin button-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

@mixin input-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 56px;
}

@mixin text-body {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 0.4px;
}

@mixin card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

@mixin error-text {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.15px;
}
