/*
 *  COLORS
 *  Use semantic color names (primary, secondary) whenever possible
 */

$white: #fff;
$black: #3d3d3d;
$primary-blue: #2a525a;
$secondary-blue: #62bcd0;
$tertiary-blue: #b6e4ee;
$grey: #757575;

/*
  *  BREAKPOINTS + LAYOUT
  *  These are used by the layout mixins
  */
$grid-breakpoints: (
  xs: 0,
  sm: 481px,
  md: 768px,
  lg: 992px,
  xl: 1248px,
);

$container-max-widths: (
  sm: 768px,
  md: 992px,
  lg: 1248px,
);
$max-width: 1440px;
$med-width: 992px;
$min-width: 768px;
