@import '../../assets/scss/variables';
@import '../../assets/scss/font_styles';

$root-class: 'error-message';

.#{$root-class} {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 127px;

  &__text {
    @include error-text;

    padding-bottom: 93px;
    padding-top: 66px;
    margin: 0;
  }
}
