@import '../../assets/scss/variables';
@import '../../assets/scss/font_styles';

$root-class: 'user-card';

.#{$root-class} {
  background-color: $tertiary-blue;
  border-radius: 20px;
  width: 216px;
  height: 50px;

  &__number {
    @include card-text;

    color: $black;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 12px;
  }
}
