@import "../../assets/scss/variables";
@import "../../assets/scss/font_styles";

$rootClass: "log-form-page";

.#{$rootClass} {
  background-color: $secondary-blue;
  min-height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media print {
    background-color: $white;
  }
}
