@import "../../assets/scss/variables";
@import '../../assets/scss/font_styles';

$rootClass: "landing-page";

.#{$rootClass} {
  background-color: $secondary-blue;
  min-height: 87vh;

  &__title {
    @include title;

    margin: 0;
    padding-left: 7.5%;
    padding-top: 4%;
  }

  &__cardArea {
    justify-content: space-around;
    display: flex;
    padding-top: 10%;
  }
}
