
$rootClass: "home-card";

.MuiCardContent-root {
  padding: 0 !important;
}

.#{$rootClass} {
  height: 26vh;
  max-width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px !important;
  box-shadow: 4px 10px 4px rgba(0, 0, 0, 0.25) !important;
  margin: 2vw;

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: black;
  }

  &__image {
    margin-right: 20px;
    margin-left: 20px;
  }

  &__content {
    display: flex;
    min-width: 25vw;
    min-height: 28vh;
    align-items: center;
    height: 28vh;
  }
}
