@import "../../assets/scss/variables";
@import "../../assets/scss/font_styles";

$root-class: "log-results-page";

.MuiButton-root {
  min-width: 7vw !important;
}

.#{$root-class} {
  background-color: $secondary-blue;
  min-height: 87vh;

  @media print {
    background-color: white;
  }

  &__title {
    @include title;

    margin: 0;
    padding-left: 7.5%;
    padding-top: 0%;
    padding-bottom: 2.25%;

    @media print {
      font-size: 1rem;
    }
  }

  &__headerArea {
    display: flex;
    justify-content: center;
  }

  &__tableArea {
    display: flex;
    margin-left: 6vw;
    margin-right: 6vw;
    padding-top: 4vh;

    @media print and (orientation: portrait) {
      padding-top: 2vh !important;
      margin-left: 1vw !important;
      margin-right: 1vw !important;
    }
  }

  &__none {
    display: none;
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    padding-bottom: 10vh;
  }

  &__errorText {
    padding-left: 2vw;
    font-weight: 300;
    font-size: 30px;
    max-width: 60vw;
    color: rgba(0, 0, 0, 0.87);
  }

  &__buttonArea {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media print {
      display: none;
    }
  }

  &__refreshButton {
    padding-left: 0.7vw;
  }
}
