@import "../../assets/scss/variables";
@import "../../assets/scss/font_styles";

$root-class: "searchbar";

.#{$root-class} {
  &__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

    &__input {
      @include input-text;

      background-image: url("../../assets/images/search.svg");
      background-repeat: no-repeat;
      background-position-x: 19px;
      background-position-y: center;
      height: 50px;
      width: 449px;

      @media (min-width: $med-width) {
        width: 649px;
      }

      @media (min-width: $max-width) {
        width: 849px;
      }
    }

    &__button {
      margin-top: 2px;
    }
  }

  &__error {
    display: flex;
    padding-top: 83px;
    padding-left: 122px;

    @media (min-width: $med-width) {
      padding-left: 182px;
    }

    &__text {
      @include text-body;

      margin: 0;
      padding: 10px 0 0 10px;
    }
  }
}
