@import "../../assets/scss/variables";

$root-class: "header";

.#{$root-class} {
  background-color: $secondary-blue;
  background-image: url('../../assets/images/app-logo.svg');
  background-position: 2vh;
  background-repeat: no-repeat;
  height: 13vh;
  width: 100%;
  display: flex;
  align-items: center;

  @media print {
    background-image: url('../../assets/images/app-logo-print.svg') !important;
    background-position: 2vh !important;
    background-repeat: no-repeat !important;
    background-color: $white;
  }

  &__logo {
    display: flex;
    position: relative;
    left: 3vw;
    top: 2vh;
  }

  &__buttonWrapper {
    height: 2vh;
    display: block;
    position: relative;
    left: 90vw;
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    border: transparent;
    align-items: center;
    max-height: 4vh;

    @media print {
      display: none;
    }

    &__text {
      margin: 0;
      color: $white;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 30px;
      padding-left: 1vw;
      padding-right: 56px;
    }

    &__image {
      max-height: 4vh;
      flex-shrink: 0;
    }

    &:focus {
      outline: none;
      border: none;
      cursor: pointer;
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
}
