@import "../../assets/scss/variables";
@import "../../assets/scss/font_styles";

$root-class: 'results-table';

.#{$root-class} {
  &__values {
    font-weight: 300 !important;
  }

  &__checkmark {
    border: none;

    &:hover {
      cursor: pointer;
    }

    &:active {
      outline: none;
      border: none;
    }

    &:focus {
      outline: none;
      border: none;
    }
  }

  &__searchArea {
    display: flex;

    &__head {
      padding-left: 15%;

      &__search {
        @include input-text;

        background-image: url("../../assets/images/search.svg");
        background-repeat: no-repeat;
        background-position-x: 19px;
        background-position-y: center;
        height: 3.5vh;
        width: 8vw;
        border-radius: 30px;
        z-index: 2;
        position: relative;
        font-weight: 300;
        font-size: 0.9rem;
        border: 1px solid #cecccc;

        &:focus {
          outline: none;
        }

        &:active {
          outline: none;
        }

        @media print {
          display: none;
        }
      }
    }

    &__cross {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding-top: 1vh;
      position: absolute;
      left: 19vw;
      z-index: 3;

      &:focus {
        outline: none;
      }

      &:active {
        outline: none;
      }

      @media print {
        display: none;
      }
    }
  }
}
