@import "../../assets/scss/variables";
@import "../../assets/scss/font_styles";

$root-class: "offboard";

.#{$root-class} {
  background-color: $secondary-blue;
  min-height: 87vh;

  &__header {
    @include title;

    margin: 0;
    padding-left: 7.5%;
    padding-top: 8.75%;
  }

  &__error-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 83px;

    &__text {
      @include text-body;

      margin: 0;
      padding: 10px 0 0 10px;
    }
  }

  &__success-state {
    display: flex;
    flex-direction: column;

    &__message {
      display: flex;
      padding-top: 83px;
      padding-left: 122px;

      @media (min-width: $med-width) {
        padding-left: 182px;
      }

      &__text {
        @include text-body;

        margin: 0;
        padding: 10px 0 0 10px;
      }
    }

    &__offboard {
      display: flex;
      max-width: 710px;
      justify-content: space-between;
      padding-top: 21px;
      padding-left: 122px;
      padding-right: 0.5%;

      @media (min-width: $med-width) {
        padding-left: 182px;
        max-width: 900px;
      }

      @media (min-width: $max-width) {
        max-width: 1110px;
      }
    }
  }
}
