@import "./assets/scss/master.scss";

$root-class: "main-app";

.#{$root-class} {
  &__home {
    display: block;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__error {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }
}
