@import '../../assets/scss/variables';
@import '../../assets/scss/font_styles';

$root-class: 'success-card';

.#{$root-class} {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 83px;

  &__box {
    background-color: $white;
    border-radius: 20px;
    height: 91px;
    display: flex;
    justify-content: center;
    width: 449px;

    @media (min-width: $med-width) {
      width: 649px;
    }

    @media (min-width: $max-width) {
      width: 849px;
    }

    &__message {
      @include card-text;

      color: $grey;
      margin: 0;
      display: flex;
      justify-content: center;
      padding-top: 33px;
      padding-right: 15px;
    }
  }
}
